.container {
  display: flex;
}

.empty {
  height: 150px;
  width: 150px;
  margin-left: 10px;
  border: solid 3px black;
  background: white;
}

.hovered {
  background-color: #333;
  border-color: white;
  border-style: dashed;
}

img {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

#drag1 {
  margin: 0;
  border: 0;
}
